<%- include('../includes/head.ejs') %>
</head>
<body class="hold-transition login-page">
  <!-- Navbar -->
  <%- include('../includes/preloader.ejs') %>
  <!-- /.navbar -->
    <!-- /.login-logo -->
    <br>
        <div class="col-lg-6">
          <%- include('login-logo.ejs') %>
        <div class="card">
          <div class="card-header"><b>Frequently Asked Questions</b></div>
          <div class="card-body">
            <div class="card-title">
            <h6><b>When Are You Open?</b></h6>
            <p>We are open from Monday to Friday, 9am - 6pm, and on Saturday, 9am - 1pm.
            Our clinic closes every day from 1pm - 2pm for lunch.
            Our after-hours emergency service incurs a SGD$500 surcharge. This surcharge is in addition to the emergency treatment fee.</p>
            </div>
            <div class="card-title">
            <h6><b>Can I Get An MC (Medical Certificate) From You?</b></h6>
            <p>Yes. However, MCs are only provided to cover specific procedures. Please check with us whether it is applicable for your procedure.
            We also provide time sheets upon request to indicate the time you were at our practice during your visit.</p>
            </div>
            <div class="card-title">
              <h6><b>Do You Accept CHAS Or Pioneer Generation Cards?</b></h6>
              <p>Yes, please bring the original card with you. You are entitled to a subsidy (fee reduction) according to the limits set by your card type. 
              Do note that CHAS and Pioneer cards do not entitle you for free treatment.</p>            
            </div>
            <div class="card-title">
              <h6><b>Do You Accept Walk-In Patients?</b></h6>
              <p>Our consultations are by appointment only. Please register an account with us and submit an online booking request.</p>            
            </div>
            <div class="card-title">
              <h6><b>What Should I Bring On My First Appointment?</b></h6>
              <p>Please bring your identification documents (NRIC, EP, Work Pass, passport), insurance policyholder cards/policy numbers, 
              CHAS/Pioneer Generation cards (if applicable), insurance forms (if required), list of medication you are currently taking
              and the most recent copy of any previous dental x-rays. It is a good idea to email your x-rays to us prior to your visit.</p>            
            </div>
            <div class="card-title">
              <h6><b>Can I Use My Medisave To Pay For My Dental Treatment?</b></h6>
              <p>Yes, you may. However, Medisave only covers certain surgical treatments.</p>            
            </div>
          </div>
          <p class="text-center">
            <a href="/login">Back to Login</a>
          </p>
          </div>
        </div>

      </div>
  <!-- REQUIRED SCRIPTS -->
  <%- include('../includes/end-scripts.ejs') %>

</body>

</html>