<% if (query.action === 'create') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully created a new record!
</div>
<% } %>

<% if (query.action === 'edit') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully updated the record!
</div>
<% } %>

<% if (query.action === 'cancel') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully cancelled the appointment!
</div>
<% } %>

<% if (query.action === 'suspend') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully suspended the record!
</div>
<% } %>

<% if (query.action === 'reactivate') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully reactivated the record!
</div>
<% } %>

<% if (query.action === 'delete') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  You have successfully deleted the record!
</div>
<% } %>

<% if (query.action === 'complete' && query.entity === 'treatment') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  The treatment has been marked as done!
</div>
<% } %>

<% if (query.action === 'call-queue') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  Queue no. has been called.
</div>
<% } %>

<% if (query.action === 'skip-queue') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  Queue no. has added to skipped list.
</div>
<% } %>

<% if (query.queue === 'in-session') { %>
<div class="callout callout-danger">
  <h5><i class="fas fa-exclamation-triangle"></i> Danger</h5>
  You have an appointment in-session! Please end that session before calling the next queue.
</div>
<% } %>

<% if (query.treatment === 'in-progress') { %>
<div class="callout callout-danger">
  <h5><i class="fas fa-exclamation-triangle"></i> Danger</h5>
  This appointment has treatments in-progress. Please mark them as done before ending the session.
</div>
<% } %>

<% if (query.apptStatus === 'payment') { %>
<div class="callout callout-success">
  <h5><i class="fas fa-check-circle"></i> Success</h5>
  The patient may now proceed to make the payment.
</div>
<% } %>

<% if (query.error === 'true') { %>
<div class="callout callout-danger">
  <h5><i class="fas fa-exclamation-triangle"></i> Danger</h5>
  An unusual error has occurred. Please try again later.
</div>
<% } %>

<% if (query.apptCreate === 'false' && query.listClinics === 'error') { %>
<div class="callout callout-warning">
  <h5><i class="fas fa-exclamation-triangle"></i> Warning</h5>
  This clinic does not have any dentist available for booking in our system. Please contact them directly for help.
</div>
<% } %>