<hr>

<div class="row pt-3 mb-4">
  <div class="col-md-12">
    <button id="btnOralHealthRecord" class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#divOralHealthRecord" aria-expanded="false" aria-controls="divOralHealthRecord">
      <i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;
      Oral Health Records
    </button>
  </div>
</div>

<div id="divOralHealthRecord" class="collapse">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title text-capitalize">Oral Health Records</h3>
        </div>
        <!-- /.card-header -->
        <% if (userData.status === 'Missed') { %>
        <div class="card-body">
          <label>Not Recorded</label>
        </div>
        <% } else { %>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="tb_recordTeeth">Tooth(s) Recorded</label>
                <% if (oralrecordData) {  %>
                <input type="text" class="form-control-plaintext" name="recordTeeth" value="<%= oralrecordData.recordTeeth ? oralrecordData.recordTeeth : 'Not recorded' %>" disabled>
                <% } else {  %>
                <input type="text" class="form-control-plaintext" name="recordTeeth" value="Not recorded" disabled>
                <% } %>
              </div>
              <div class="form-group">
                <label for="tb_TeethDesc">Teeth Description</label>
                <% if (oralrecordData) {  %>
                <textarea class="form-control-plaintext" name="recordDescription" disabled><%= oralrecordData.recordDescription ? oralrecordData.recordDescription : 'Not recorded' %></textarea>
                <% } else {  %>
                <textarea class="form-control-plaintext" name="recordDescription" disabled>Not recorded</textarea>
                <% } %>
              </div>
              <div class="form-group">
                <label for="tb_CreatedAt">Created At</label>
                <% if (oralrecordData) {  %>
                <input type="text" class="form-control-plaintext" name="recordCreatedAt" value="<%= oralrecordData.recordCreatedAt ? oralrecordData.recordCreatedAt : 'Not recorded' %>" disabled>
                <% } else {  %>
                <input type="text" class="form-control-plaintext" name="recordCreatedAt" value="Not recorded" disabled>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<script>
  $('#btnOralHealthRecord').click(function() {
    $(this).toggleClass('btn-outline-primary').toggleClass('btn-primary');
    $(this).find('i').toggleClass('fa-plus').toggleClass('fa-minus');
  });
</script>