<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/img/HappySmileLogo_White.png" alt="HappySmile Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">HappySmile</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <% if (_isLoggedIn) { %>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if (_gender === 'Male') { %>
        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        <% } %>
        <% if (_gender === 'Female') { %>
        <img src="/dist/img/user3-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        <% } %>
      </div>
      <div class="info">
        <% if (_userRole === "Administrator") { %>
        <a href="/admin/profile" class="d-block">
          <% } %>
          <% if (_userRole === "Patient") { %>
          <a href="/patient/profile" class="d-block">
            <% } %>
            <% if (_userRole === "Dentist") { %>
            <a href="/dentist/profile" class="d-block">
              <% } %>
              <% if (_userRole === 'Dentist') { %>
              Dr.
              <% } %>
              <% if (_gender === 'Male' && _userRole !== 'Dentist') { %>
              Mr.
              <% } %>
              <% if (_gender === 'Female' && _userRole !== 'Dentist') { %>
              Ms.
              <% } %>
              <%= _firstName %> <%= _lastName %>
            </a>
      </div>
    </div>
    <% } %>

    <!-- Sidebar Menu -->
    <% const arrPath = path.replaceAll('-', ' ').split('/') %>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

        <!-- Start of Administration -->
        <% if (_isLoggedIn && _userRole === 'Administrator') { %>
        <li class="nav-header">ADMINISTRATION</li>
        <li class="nav-item">
          <a href="/" class="nav-link <% if(arrPath[1] === '') { %>active<% } %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/clinic" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'clinic') { %>active<% } %>">
            <i class="nav-icon fas fa-info-circle"></i>
            <p>Clinic Information</p>
          </a>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'bill') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'bill') { %>active<% } %>">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/bill/view-all" class="nav-link <% if(path === '/admin/bill/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'staff') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'staff') { %>active<% } %>">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Staffs
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/staff/create" class="nav-link <% if(path === '/admin/staff/create') { %>active<% } %>">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/staff/view-all" class="nav-link <% if(path === '/admin/staff/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'patient') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'patient') { %>active<% } %>">
            <i class="nav-icon fas fa-book-medical"></i>
            <p>
              Patients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/patient/create" class="nav-link <% if(path === '/admin/patient/create') { %>active<% } %>">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/patient/view-all" class="nav-link <% if(path === '/admin/patient/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'inventory') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'inventory') { %>active<% } %>">
            <i class="nav-icon fas fa-boxes"></i>
            <p>
              Inventory
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/inventory/create" class="nav-link <% if(path === '/admin/inventory/create') { %>active<% } %>">
                <i class="nav-icon fas fas fa-plus"></i>
                <p>Add Inventory</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/inventory/view-all" class="nav-link <% if(path === '/admin/inventory/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">DENTAL</li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'appointment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'appointment') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/appointment/create" class="nav-link <% if(path === '/admin/appointment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/appointment/view-all" class="nav-link <% if(path === '/admin/appointment/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'service') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'service') { %>active<% } %>">
            <i class="nav-icon fas fa-notes-medical"></i>
            <p>
              Services
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link <% if(path === '/admin/service/open') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link <% if(path === '/admin/service/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'treatment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'treatment') { %>active<% } %>">
            <i class="nav-icon fas fa-tooth"></i>
            <p>
              Treatments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/treatment/create" class="nav-link <% if(path === '/admin/treatment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/treatment/view-all" class="nav-link <% if(path === '/admin/treatment/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <% } %>
        <!-- End of Administration -->

        <!-- Start of Dentist -->
        <% if (_isLoggedIn && (_userRole === 'Dentist' || _userRole === 'Dental Assistant')) { %>
        <li class="nav-header">INFORMATION</li>
        <li class="nav-item">
          <a href="/dentist/clinic" class="nav-link <% if(arrPath[1] === 'dentist' && arrPath[2] === 'clinic') { %>active<% } %>">
            <i class="nav-icon fas fa-info-circle"></i>
            <p>Clinic Information</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dentist/appointment/view-all" class="nav-link <% if(path === '/dentist/appointment/view-all') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>Appointments</p>
          </a>
        </li>
        <li class="nav-header">DENTAL</li>
        <li class="nav-item <% if(arrPath[1] === 'dentist' && arrPath[2] === 'service') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'dentist' && arrPath[2] === 'service') { %>active<% } %>">
            <i class="nav-icon fas fa-notes-medical"></i>
            <p>
              Services
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link <% if(path === '/dentist/service/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'dentist' && arrPath[2] === 'treatment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'dentist' && arrPath[2] === 'treatment') { %>active<% } %>">
            <i class="nav-icon fas fa-tooth"></i>
            <p>
              Treatments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dentist/treatment/create" class="nav-link <% if(path === '/dentist/treatment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dentist/treatment/view-all" class="nav-link <% if(path === '/dentist/treatment/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <% } %>
        <!-- End of Dentist -->

        <!-- Start of Unregistered Users -->
        <% if (!_isLoggedIn) { %>
        <li class="nav-item">
          <a href="/login" class="nav-link <% if(path === '/login') { %>active<% } %>">
            <i class="fas fa-sign-in-alt nav-icon"></i>
            <p>Login</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link <% if(path === '/register') { %>active<% } %>">
            <i class="fas fa-user-plus nav-icon"></i>
            <p>Register</p>
          </a>
        </li>
        <% } %>
        <li class="nav-header">GENERAL</li>
        <li class="nav-item">
          <a href="/clinic/view-all" class="nav-link <% if(path === '/clinic/view-all') { %>active<% } %>">
            <i class="nav-icon fas fa-list"></i>
            <p>View All Clinics</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/clinic/search" class="nav-link <% if(path === '/clinic/search') { %>active<% } %>">
            <i class="fas fa-search nav-icon"></i>
            <p>Clinics Near Me</p>
          </a>
        </li>
        <!-- Start of Unregistered Users -->

        <!-- Start of Patient -->
        <% if (_isLoggedIn && _userRole === 'Patient') { %>
        <li class="nav-header">PATIENT</li>
        <li class="nav-item">
          <a href="/patient/queue/create" class="nav-link <% if(arrPath[1] === 'patient' && arrPath[2] === 'queue') { %>active<% } %>">
            <i class="nav-icon fas fa-ticket-alt"></i>
            <p>Queue</p>
          </a>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'patient' && arrPath[2] === 'appointment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'patient' && arrPath[2] === 'appointment') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/patient/appointment/create" class="nav-link <% if(path === '/patient/appointment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/patient/appointment/upcoming" class="nav-link <% if(path === '/patient/appointment/upcoming') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View Upcoming</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/patient/appointment/past" class="nav-link <% if(path === '/patient/appointment/past') { %>active<% } %>">
                <i class="nav-icon fas fa-history"></i>
                <p>View Past</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'patient' && arrPath[2] === 'bill') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'patient' && arrPath[2] === 'bill') { %>active<% } %>">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/patient/bill/view-all" class="nav-link <% if(path === '/patient/bill/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-list"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <% } %>
        <!-- End of Patient -->

        <li class="nav-item">
          <a href="https://t.me/dhrms_happysmile_bot" class="nav-link" target="_blank">
            <i class="fab fa-telegram-plane nav-icon"></i>
            <p>Telegram Chatbot</p>
          </a>
        </li>

        <li class="nav-header">TEMPORARY REFERENCES</li>
        <li class="nav-item">
          <a href="/invoice" class="nav-link <% if(path === '/invoice') { %>active<% } %>">
            <i class="fas fa-receipt nav-icon"></i>
            <p>Invoice Template</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>