<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/img/HappySmileLogo_White.png" alt="HappySmile Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">HappySmile</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if (_gender === 'Male') { %>
        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        <% } %>
        <% if (_gender === 'Female') { %>
        <img src="/dist/img/user3-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        <% } %>
      </div>
      <div class="info">
        <a href="#" class="d-block">
          <% if (_userRole === 'Dentist') { %>
          Dr.
          <% } %>
          <% if (_gender === 'Male' && _userRole !== 'Dentist') { %>
          Mr.
          <% } %>
          <% if (_gender === 'Female' && _userRole !== 'Dentist') { %>
          Ms.
          <% } %>
          <%= _firstName %> <%= _lastName %>
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <% const arrPath = path.replaceAll('-', ' ').split('/') %>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <% if (_userRole === 'Administrator') { %>
        <!-- Start of Administration -->
        <li class="nav-header">ADMINISTRATION</li>
        <li class="nav-item">
          <a href="/" class="nav-link <% if(arrPath[1] === '') { %>active<% } %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'clinic') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'clinic') { %>active<% } %>">
            <i class="nav-icon fas fa-info-circle"></i>
            <p>
              Clinic Information
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/clinic/add-information" class="nav-link <% if(path === '/admin/clinic/add-information') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Add Information</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/clinic/view-all" class="nav-link <% if(path === '/admin/clinic/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'patient') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'patient') { %>active<% } %>">
            <i class="nav-icon fas fa-book-medical"></i>
            <p>
              Patients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/patient/create" class="nav-link <% if(path === '/admin/patient/create') { %>active<% } %>">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Register</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/patient/view-all" class="nav-link <% if(path === '/admin/patient/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'appointment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'appointment') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/appointment/create" class="nav-link <% if(path === '/admin/appointment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/appointment/view-all" class="nav-link <% if(path === '/admin/appointment/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'inventory') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'inventory') { %>active<% } %>">
            <i class="nav-icon fas fa-boxes"></i>
            <p>
              Inventory
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/inventory/new-record" class="nav-link <% if(path === '/admin/inventory/new-record') { %>active<% } %>">
                <i class="nav-icon fas fa-dolly-flatbed"></i>
                <p>New Record</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/inventory/view-all" class="nav-link <% if(path === '/admin/inventory/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'admin' && arrPath[2] === 'bill') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'admin' && arrPath[2] === 'bill') { %>active<% } %>">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/bill/view-all" class="nav-link <% if(path === '/admin/bill/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of Administration -->
        <% } %>

        <% if (_userRole === 'Patient') { %>
        <!-- Start of Patient -->
        <li class="nav-header">PATIENT</li>
        <li class="nav-item <% if(arrPath[1] === 'patient' && arrPath[2] === 'appointment') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'patient' && arrPath[2] === 'appointment') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/patient/appointment/create" class="nav-link <% if(path === '/patient/appointment/create') { %>active<% } %>">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/patient/appointment/view-all" class="nav-link <% if(path === '/patient/appointment/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item <% if(arrPath[1] === 'patient' && arrPath[2] === 'bill') { %>menu-open<% } %>">
          <a href="#" class="nav-link <% if(arrPath[1] === 'patient' && arrPath[2] === 'bill') { %>active<% } %>">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/patient/bill/view-all" class="nav-link <% if(path === '/patient/bill/view-all') { %>active<% } %>">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of Patient -->
        <% } %>

        <% if (_userRole === 'Dentist' || _userRole === 'Dental Assistant') { %>
        <!-- Start of Dentist -->
        <li class="nav-header">DENTIST</li>
        <li class="nav-item">
          <a href="/dentist/appointment/view-all" class="nav-link <% if(path === '/dentist/appointment/view-all') { %>active<% } %>">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>Appointments</p>
          </a>
        </li>
        <!-- End of Dentist -->
        <% } %>

        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="/invoice" class="nav-link <% if(path === '/invoice') { %>active<% } %>">
            <i class="fas fa-receipt nav-icon"></i>
            <p>Invoice Template</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>