<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/img/HappySmileLogo_White.png" alt="HappySmile Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">HappySmile</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Full Name</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
        <!-- Start of Administration -->
        <li class="nav-header">ADMINISTRATION</li>
        <li class="nav-item">
          <a href="/" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book-medical"></i>
            <p>
              Patients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/patient/create" class="nav-link">
                <i class="nav-icon fas fa-file-medical"></i>
                <p>Register</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/patient/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/appointment/create" class="nav-link">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/appointment/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-boxes"></i>
            <p>
              Inventory
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/inventory/new-record" class="nav-link">
                <i class="nav-icon fas fa-dolly-flatbed"></i>
                <p>New Record</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/inventory/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/bills/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of Administration -->

        <!-- Start of Patient -->
        <li class="nav-header">PATIENT</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
              Appointments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-plus"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/patient/appointment/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
              Bills
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/patient/bills/view-all" class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-search"></i>
                <p>Search</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of Patient -->

        <!-- Start of Dentist -->
        <li class="nav-header">DENTIST</li>
        <li class="nav-item">
          <a href="/dentist/appointment/view-all" class="nav-link">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>Appointments</p>
          </a>
        </li>
        <!-- End of Dentist -->

        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="/invoice" class="nav-link">
            <i class="fas fa-receipt nav-icon"></i>
            <p>Invoice Template</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>

        <li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Warning</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>