nav
    a.label(href='/' class=path==='/'?'active':'') HappySmile
    a(href='/test' class=path==='/verify'?'active':'') Test
    a(href='/register', class=path==='/register'?'nav-right active':'nav-right') Register
    a(href='/login', class=path==='/login'?'nav-right active':'nav-right') Login